
# Sorry, I did not find any Ansible variable
# which allows me to reliably detect if we
# became root.

- name: get UID
  ansible.builtin.shell:
    cmd: id -u
  register: userid
  changed_when: false
  check_mode: no

- name: get HOME
  ansible.builtin.shell:
    cmd: 'getent passwd {{ userid.stdout }} | cut -d: -f6'
  register: userhome
  changed_when: false
  check_mode: no

- name: "download https://github.com/hilbix/fix.git to {{ userhome.stdout }}/git/fix/"
  ansible.builtin.git:
    repo: https://github.com/hilbix/fix.git
    dest: '{{ userhome.stdout }}/git/fix'
    accept_hostkey: yes
    version: 9ddea6c22c1ab5e981646253ad23838b5870460a
    refspec: refs/heads/master
    depth: 10
    ssh_opts: "{{ '-i ~/.ssh/id_'+key if key is defined else '' }}"
  become: true
  register: hilbix_fix

- name: install git/fix/
  ansible.builtin.command:
    chdir: '{{ userhome.stdout }}/git/fix/'
    cmd: make
  when: hilbix_fix.changed

- name: root-only hacks
  ansible.builtin.include_tasks: hilbix-fix-root.yml
  when: userid.stdout == "0"

