
- name: cleanup /etc/ssh/sshd_config.end (if present)
  ansible.builtin.include_role:
    name: sshd
    tasks_from: sshd-end
    vars:
      files: sftponly.conf

- name: Set users to sftp-internal
  ansible.builtin.copy:
    dest: /etc/ssh/sshd_config.d/sftponly.conf
    mode: '0755'
    owner: root
    group: root
    content: |
      Match group sftponly
        ForceCommand internal-sftp
        ChrootDirectory %h
        PermitTunnel no
        AllowTcpForwarding no
        X11Forwarding no
      Match group *
  notify: Restart sshd

- name: ssh requires home of sftp-internal users to be owned by root:root
  ansible.builtin.file:
    path: /home/ftp/{{ item }}
    mode: '0755'
    owner: root
    group: root
  loop:
    - .
    - .ssh

- name: own some files of sftp-internal users by root:root
  ansible.builtin.file:
    path: /home/ftp/{{ item }}
    mode: '0644'
    owner: root
    group: root
  loop:
    - .ssh/authorized_keys

- name: remove files of sftp-internal users which are of no use
  ansible.builtin.file:
    path: /home/ftp/{{ item }}
    state: absent
  loop:
    - .bashrc
    - .bash_logout
    - .profile

