
# Iteration 0 #
#
#- name: gather authorized_keys_files from keys being a single value
#  set_fact:
#    authorized_keys_files: ["{{ keys }}"]
#  when: keys is string
#
#- name: gather authorized_keys_files from keys being a list
#  set_fact:
#    authorized_keys_files: "{{ keys }}"
#  when: keys is not string
#
#- name: Update authorized_keys from keys
#  ansible.posix.authorized_key:
#    user: "{{ user }}"
#    key: "{{ lookup('file', 'files/authorized_keys/{{ item }}') }}"
#  loop: "{{ authorized_keys_files }}"
#
# Iteration 1 #
#
#- name: Update authorized_keys from keys
#  ansible.posix.authorized_key:
#    user: "{{ user }}"
#    key: "{{ lookup('file', 'files/authorized_keys/{{ item }}') }}"
#  loop: "{{ keys is string | ternary([keys], keys) }}"
#
# Iteration 2 #

- name: Check users to possibly create
  ansible.builtin.user:
    name: "{{ item }}"
  check_mode: true
  loop: "{{ (users is string | ansible.builtin.ternary([users], users | default([lookup('env', 'USER')]))) | list }}"
  when: shell is string
  register: authorized_keys_shell_users

- name: Debug
  debug:
    msg: "{{ authorized_keys_shell_users }}"

- name: Create user if 'shell' variable is set
  ansible.builtin.user:
    name: "{{ item.item }}"
    comment: "User {{ item.item }}"
  loop: "{{ authorized_keys_shell_users.results }}"
  when: item.state | d('') != 'present'

- name: Update authorized_keys from keys
  ansible.posix.authorized_key:
    user: "{{ item.0 }}"
    key: "{{ lookup('file', 'files/authorized_keys/{{ item.1 }}') }}"
  loop: "{{ (users is string | ansible.builtin.ternary([users], users | default([lookup('env', 'USER')]))) | ansible.builtin.product( (keys is string | ansible.builtin.ternary([keys], keys)) ) | list }}"

